[Unit]
Description=nginx - high performance web server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart={{ _install_path }}
ExecReload={{ _install_path }} -s reload
ExecStop={{ _install_path }} -s stop

[Install]
WantedBy=multi-user.target